<!DOCTYPE html>
<html>
  <head>
    <title>CS Scavenger Hunt | Scahoo</title>
    <link
      rel="shortcut icon"
      href="../../../../assets/images/logo/scahoo-512x.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../../../assets/style.css" />

    <link rel="manifest" href="../../../../manifest.json" />
    <meta name="theme-color" content="#323232" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <link rel="stylesheet" href="../../assets/styles/home.css" />
    <link rel="stylesheet" href="../../assets/styles/main.css" />
    <meta id="scahoo-current-tab" content="board" />

    <link
      class="color-scheme"
      id="color-scheme-light"
      rel="stylesheet"
      href="../../../../assets/color-schemes/light.css"
      disabled
    />
    <link
      class="color-scheme"
      id="color-scheme-dark"
      rel="stylesheet"
      href="../../../../assets/color-schemes/dark.css"
    />
    <script src="../../../../assets/colorScheme.js"></script>

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />

    <script src="https://unpkg.com/lucide@latest"></script>
  </head>

  <body class="stop-transitions">
    <script>
      0;
    </script>
    <nav id="main-navbar">
      <div class="inner">
        <a href="/" id="navbar-logo">
          <span>Scahoo</span>
        </a>
        <button id="color-scheme-switcher">
          <div id="color-scheme-switcher-icon">
            <i class="color-scheme-icon-auto" data-lucide="sun-moon"></i>
            <i class="color-scheme-icon-dark" data-lucide="moon"></i>
            <i class="color-scheme-icon-light" data-lucide="sun"></i>
          </div>
        </button>
      </div>
    </nav>
    <main></main>
    <footer>
      <hr />
      <div id="footer-content">
        <a href="https://github.com/Isoscelestial/">GitHub</a>
        <a href="https://github.com/Isoscelestial/Isoscelestial.github.io/"
          >Repository</a
        >
      </div>
    </footer>

    <!-- prettier-ignore -->
    <script src="../../assets/scripts/home.js" async defer type="module"></script>
    <!-- prettier-ignore -->
    <script src="../../assets/scripts/main.js" async defer type="module"></script>
    <!-- prettier-ignore -->
    <script>lucide.createIcons();</script>
  </body>
</html>
