<!DOCTYPE html>
<html>
  <head>
    <title>CS Scavenger Hunt | Scahoo</title>
    <link
      rel="shortcut icon"
      href="../../../../assets/images/logo/scahoo-512x.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../../../assets/style.css" />

    <link rel="manifest" href="../../../../manifest.json" />
    <meta name="theme-color" content="#323232" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <link rel="stylesheet" href="../../assets/styles/scavenger-hunt.css" />
    <link rel="stylesheet" href="../../assets/styles/leaderboard.css" />
    <meta id="scahoo-current-tab" content="leaderboard" />

    <link
      class="color-scheme"
      id="color-scheme-light"
      rel="stylesheet"
      href="../../../../assets/color-schemes/light.css"
      disabled
    />
    <link
      class="color-scheme"
      id="color-scheme-dark"
      rel="stylesheet"
      href="../../../../assets/color-schemes/dark.css"
    />
    <script src="../../../../assets/colorScheme.js"></script>

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />

    <script src="https://unpkg.com/lucide@latest"></script>
  </head>

  <body class="stop-transitions">
    <script>
      0;
    </script>
    <div id="titlebar">
      <div class="inner">
        <img class="scahoo-titlebar-logo" src="../../../../assets/images/logo/scahoo-512x.png" alt="">
        <span class="scahoo-title"></span>
      </div>
    </div>
    <main>
      <div id="content" class="scahoo-tab-content">
        <!-- ID is for URL anchor of #content -->
        <div class="inner">
          <div class="scahoo-instructions">
            <div class="scahoo-instructions-icon">
              <input
                type="checkbox"
                checked=""
                class="scahoo-instructions-checkbox"
              />
              <i
                class="scahoo-instructions-icon-close"
                data-lucide="circle-x"
              ></i>
              <i
                class="scahoo-instructions-icon-open"
                data-lucide="circle-help"
              ></i>
            </div>
            <div class="scahoo-instructions-content">
              <h2>Instructions</h2>
              <p>
                Earn points by completing cards and tasks on the
                <a href="../board/">board</a>.
              </p>
            </div>
          </div>
          <div class="scahoo-leaderboard">
            <!-- <h1 style="margin-top: 36px; text-align: center;">Work in progress! Check back later.</h1> -->

            <div class="scahoo-leaderboard-content">
              <div class="scahoo-leaderboard-frame">
                <h3 class="scahoo-leaderboard-title"></h3>
                <h4>Leaderboard</h4>
                <div class="scahoo-leaderboard-list"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="scahoo-tabs">
  </div>
    <!-- <footer>
    <hr />
    <div id="footer-content">
      <a href="https://github.com/Isoscelestial/">GitHub</a>
      <a href="https://github.com/Isoscelestial/Isoscelestial.github.io/">Repository</a>
    </div>
  </footer> -->

    <template class="tem-scahoo-tab">
      <a class="scahoo-tab">
        <div class="scahoo-tab-icon">
          <i data-lucide="circle-help"></i>
        </div>
        <span class="scahoo-tab-name">Tab</span>
      </a>
    </template>

    <template class="tem-scahoo-leaderboard-item">
      <div class="scahoo-leaderboard-item">
        <div class="scahoo-leaderboard-item-rank">
          <span> - </span>
        </div>
        <div class="scahoo-leaderboard-item-content">
          <div class="scahoo-leaderboard-item-name">No name</div>
          <div class="scahoo-leaderboard-item-descriptor"></div>
        </div>
        <div class="scahoo-leaderboard-item-points">
          <span> 0 pts </span>
        </div>
      </div>
    </template>

    <script
      src="../../assets/scripts/scavenger-hunt.js"
      async
      defer
      type="module"
    ></script>
    <script
      src="../../assets/scripts/leaderboard.js"
      async
      defer
      type="module"
    ></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
